<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>owen</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel=stylesheet href=css/style.css />
        <link rel=stylesheet href=css/tooltip.css />
        <link rel="stylesheet" href="../libs/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="../libs/vue.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div style="width: 95vw; height: 6vh; -webkit-app-region: drag; display: block;"></div>
            <div style="position: absolute; right: 91vw; top: 1vw">
                <img src="./appassets/owen_caligraphy.png" style="height: 5vh;">
            </div>
            <div style="position: absolute; left: 95.5vw; top: 1vw;">
                <button class="closeButton" onclick="closeApp()">
                    <svg viewBox="0 0 16 16" fill="url(#grad1)" style="height:4vh; width:4vh;">
                        <defs>
                            <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="0%" style="stop-color:#C0FFE4;stop-opacity:1" />
                                <stop offset="100%" style="stop-color:#FF7EC3;stop-opacity:1" />
                            </linearGradient>
                        </defs>
                        <path fill-rule="evenodd" d="M14.5 13a1.5 1.5 0 0 1-1.5 1.5H3A1.5 1.5 0 0 1 1.5 13V8a.5.5 0 0 1 1 0v5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H9a.5.5 0 0 1 0-1h4A1.5 1.5 0 0 1 14.5 3v10z"/>
                        <path fill-rule="evenodd" d="M4.5 10a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 0-1 0v4.5H5a.5.5 0 0 0-.5.5z"/>
                        <path fill-rule="evenodd" d="M10.354 10.354a.5.5 0 0 0 0-.708l-8-8a.5.5 0 1 0-.708.708l8 8a.5.5 0 0 0 .708 0z"/>
                    </svg>
                </a>
            </div>
            <div id="container">
                <div id="formContainer">
                    <div class="fadeBox"><input type="text" class="formField" id="line1" v-model="line1" placeholder="First text line" maxlength="128"></div><br>
                    <div class="fadeBox"><input type="text" class="formField" id="line2" v-model="line2" placeholder="Second text line" maxlength="128"></div><br>
                    <div class="fadeBox">
                        <select id="imageSelect" class="formField" v-model="pickedImage">
                            <option value="" disabled selected hidden>Select an image</option>
                            <option v-for="asset in assets" :value="asset">{{ asset }}</option>
                        </select> 
                    </div><br>  
                    <div class="fadeBox"><input type="text" class="formField" id="hover" v-model="hover" placeholder="Image hover text" maxlength="128"></div><br>
                    <div class="fadeBox"><button id="submitButton" onclick="requestRPCChange()">Set Status</button></div>
                </div>
                <div id="preview">
                    <div id="previewTop">
                        <img src="appassets/owen_placeholder.png" style="border-radius: 50%; padding: 2vh; height: 16vh; width: 16vh;">
                        <br>
                        Preview<span style="color: lightgrey">#1337</span>
                        <br>
                    </div>
                    <div id="previewBottom">
                        <b>PLAYING A GAME</b>
                        <div id="previewBottomItems">
                            <div class="previewBottomItem toolTip">
                                <img v-if="pickedImage" :src="assetPath(pickedImage)" style="border-radius: 4px; height: 12vh; width: 12vh">
                                <img v-else src="appassets/owen_placeholder.png" style="border-radius: 4px; height: 12vh; width: 12vh">
                                <span v-if="hover" class="toolTipText">
                                    <span class="toolTipInnerText">{{ hover }}</span>
                                </span>
                            </div>
                            <div class="previewBottomItem" style="margin-top: 1vh; margin-left: 1vh; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 50%">
                                <span style="font-weight: 600" title="owen">owen</span>
                                <br>
                                <span v-if="line1" :title="line1">{{ line1 }}</span>
                                <span v-else>Line 1</span>
                                <br>
                                <span v-if="line2" :title="line2">{{ line2 }}</span>
                                <span v-else>Line 2</span>
                                <br>
                                00:59 elapsed
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="renderer.js"></script>
  </body>
</html>
